#================ Custom macros =================#

[attr]lfs filter=lfs diff=lfs merge=lfs -text


#================= Binary files =================#

# Binary files *not* tracked by Git LFS.

# Graphics
*.gif  binary
*.jpeg binary
*.jpg  binary
*.png  binary


#=================== Git LFS ====================#

# Binary files tracked by Git LFS.

# Documents
*.doc  lfs 
*.docx lfs 
*.odp  lfs 
*.ods  lfs 
*.odt  lfs 
*.pdf  lfs 
*.ppt  lfs 
*.pptx lfs 
*.rtf  lfs 
*.xls  lfs 
*.xlsx lfs 

# Archives
*.cpio lfs
*.iso  lfs
*.tar  lfs

# Compressed files
*.bz2  lfs
*.gz   lfs
*.gzip lfs
*.xz   lfs

# Compressed archives
*.7z   lfs
*.apk  lfs
*.dmg  lfs
*.ear  lfs
*.jar  lfs
*.rar  lfs
*.tbz2 lfs
*.tgz  lfs
*.war  lfs
*.zip  lfs

# Graphics
*.tiff lfs
*.webp lfs

# Video files
*.3g2  lfs
*.3gp  lfs
*.avi  lfs
*.flv  lfs
*.mkv  lfs
*.mov  lfs
*.mpeg lfs
*.mpg  lfs
*.ogv  lfs
*.webm lfs
*.wmv  lfs

# Audio files
*.aac  lfs
*.flac lfs
*.mp3  lfs
*.ogg  lfs
*.wav  lfs
*.webm lfs
*.wma  lfs

# Disk images
*.box  lfs
*.vhd  lfs
*.vmdk lfs
*.vmi  lfs

# Misc
*.nb   binary
*.swf  lfs
